html,body,.container{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
h1,h2,h3,h4,h5,h6,p,table,ul{
    margin: 0;
    padding: 0;
}
.container{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.topheader{
display: flex;
flex: 1 5%;
flex-direction: row;
background-color: #ff5a00;
}
.top-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    list-style-type: none;
}
ul li{
    display: inline;
}
ul li a{
    display: flex;
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 1vw;
    margin-left: 2vw;
}
.btn{
    display: flex;
    background-color: black;
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    width: 150px;
    border: 1px solid black;
    padding: 1.2vw;
    margin-left: 33vw;
    justify-content: center;
    align-items: center;
}
header{
    display: flex;
    flex: 1 10%;
    flex-direction: row;
}
.logo{
    display: flex;
    flex: 1;
    padding: 2vw;
    margin:1vw;
}
.navigate{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.main-header ol{
    list-style-type: none;
    box-sizing: border-box;
}
.main-header li{
    display: inline;
}
.main-header li a{
    text-decoration: none;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    padding: 1vw;
}
.main-header li a:hover
{
    color: #ff5a00;
    border-bottom: 3px solid #ff5a00;
}
.main-header li .current-item-gradient-bg{
    border-color: transparent;
    border-bottom: 3px solid #ff5a00;
}
section
{
    display: flex;
    flex: 1 85%;
    background-image: url(../images/welcome-bg.jpg);
    flex-direction: column;
}
h1{
    display: flex;
    color: white;
    font-size: 85px;
    padding: 1vw;
    margin-left: 8vw;
    margin-top: 2vw;
}
h2{
    color: white;
    margin-left: 9vw;
    font-size: 35.5px;
    
}   
.para{
    color: white;
    width: 500px;
    margin-left: 9vw;
    margin-top: 2vw;
    font-size: 20px;
}
.click a{
    text-decoration: none;
    width: 100px;
    height:50px;
    padding: 18px 40px;
    margin-left: 9vw; 
    line-height: 8;
    border: 1px solid #ff5a00;
    color: white;
    border-radius: 24px;
    outline: none;
    font-size: 14px;
    font-weight: 600;
}
.click a:hover{
    background-color: #ff5a00;
}
.click .button-gradient-bg{
background-color: #ff5a00; 
border-color: transparent;
}
